link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
link(rel="stylesheet", type="text/css", href="/css/style-admin.css")
script(type="text/javascript", src="/js/jquery-1.8.3.min.js")
script(type="text/javascript", src="/js/admin.js")
