doctype 5
html
 head
  title 404
  link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
  link(rel="stylesheet", type="text/css", href="/css/style-blog.css")
 body
  div.container
   include logo
   div.row
    div.span1
    div.span6
     h3 抱歉，该页面不存在:(
     ul
      li: a(href="/") 返回首页
      li: a(href="/project") 我的项目
      li: a(href="/about") 关于我
    div.span4
    div.span1