doctype 5
html
 head
  title 关于我和这个博客
  link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
  link(rel="stylesheet", type="text/css", href="/css/style-blog.css")
  link(rel="stylesheet", type="text/css", href="/prettify/sunburst.css")
  script(type="text/javascript", src="/prettify/prettify.js")      
 body
  div.container
   include logo
   div.row
    div.span1
    div.span6
     p
      strong 关于我
     hr
     p 原来是学.net编程的
     p 然后自学开始搞前端
     p 也玩node.js
     p 现在硕士专业学习的是交互式设计
     br
     p juststayinvegas#gmail.com 把#换成@
     hr
     p
      strong 关于这
     hr
     p 十分之九点八的程序员的博客
     p 博客标题，副标题，个人介绍，总是离不开
     p “梦想”，“进步”，“努力”，“奋斗”，“热爱”，“思考”等。
     hr
     p 我以为，就像那段子说的那样：
     p 
      strong 理想，激情，动力，感悟这些东西要有，但不能逢人便脱下来证明你有。
     p 说实话，看到这些口号，觉得恶心和矫情，就好像别人没有似的。
     hr
     p 在这里只谈技术，所以
      strong 轻，薄
     p 不谈人生感悟，面试经历，吐槽，行业分析，开箱介绍。
     p
      strong 我相信每个人都是独一无二的，都有自己的故事，感悟，人生规划：
     p 永远都有人比你在承受的更多
     p 永远都有人比你更努力的奋斗着
     p 永远都有人比你更懂某个领域
     p 我又何德何能
     hr
     p 我不想站在sb的高度指点别人的人生
     p 应该看什么样的书，走什么样的路，学什么
     p 啥也不多说了，因为我相信你比我更了解你自己。
    div.span4
     include blog/panel
    div.span1
  script(type="text/javascript", src="/js/jquery-1.8.3.min.js") 
  script(type="text/javascript", src="/js/bootstrap.js")  