//- link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
//- link(rel="stylesheet", type="text/css", href="/css/style-blog.css")
//- link(rel="stylesheet", type="text/css", href="/prettify/sunburst.css")
//- script(type="text/javascript", src="/js/jquery-1.8.3.min.js")  
//- script(type="text/javascript", src="/js/bootstrap.js")  
//- script(type="text/javascript", src="/js/blog.js")    
- var version = 20130124;
link(rel="stylesheet", type="text/css", href="/css/style.min.css?v=#{version}")
script(type="text/javascript", src="/prettify/prettify.js?v=#{version}")   
script(type="text/javascript", src="/js/js.min.js?v=#{version}")
script(type="text/javascript")
 var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
 document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2c9ce827b7c57e46a6827b43be82e58b' type='text/javascript'%3E%3C/script%3E"));
