//- link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
//- link(rel="stylesheet", type="text/css", href="/css/style-blog.css")
//- link(rel="stylesheet", type="text/css", href="/prettify/sunburst.css")
//- script(type="text/javascript", src="/js/jquery-1.8.3.min.js")  
//- script(type="text/javascript", src="/js/bootstrap.js")  
//- script(type="text/javascript", src="/js/blog.js")    
- var version = 20130124;
link(rel="stylesheet", type="text/css", href="/css/style.min.css?v=#{version}")
script(type="text/javascript", src="/prettify/prettify.js?v=#{version}")   
script(type="text/javascript", src="/js/js.min.js?v=#{version}") 