div.link
 ul
  - if (blogs.length != 0) {
  -  for (var i in blogs) { 
     li
      a(href="/blog/#{blogs[i].title}") #{blogs[i].title}
  -  }
  - }

- var nav = method.activeNav(req.originalUrl);
div.secondary-nav(data-spy="affix", data-offset-top="260")
 ul.nav.nav-list
  li(class = (nav.primary === 'blog') ? 'active' : ''): a(href="/blog") 博客
  li(class = (nav.primary === 'project') ? 'active' : ''): a(href="/project") 项目
  li(class = (nav.primary === 'about') ? 'active' : ''): a(href="/about") 关于这
  li.divider
  a.btn.btn-small(target="_blank", href="http://weibo.com/qinbob") 新浪微博关注
  //- li: a(href="/feed/feed.xml") 订阅

div.category(class = (!req.params.title && req.route.path.indexOf('blog') > -1) ? 'show' : 'hide')
   p 文章分类
   ul.unstyled
    li(class = (nav.category === 'blog') ? 'active' : ''): a.label(href="/") 全部    
    li(class = (nav.category === 'node') ? 'active' : ''): a.label(href="/blog/category/nodejs") node.js
    li(class = (nav.category === 'front') ? 'active' : ''): a.label(href="/blog/category/front-end") 前端
    li(class = (nav.category === 'other') ? 'active' : ''): a.label(href="/blog/category/other") 其他
script(type="text/javascript")
 prettyPrint()
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-38061225-1']);
 _gaq.push(['_setDomainName', 'qingbob.com']);
 _gaq.push(['_trackPageview']);

 (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();