doctype 5
html
 head
  title 我制作的大玩意
  include component/head
 body
  div.container
   include component/logo
   div.row
    div.span1
    div.span6
     div.project-item
      h4 Jimmy
      hr.margin-top-10.margin-bottom-10
      p 决定做这个项目纯属偶然，我觉得那个HTML5 粒子效果太美了，就是还差点什么，我觉得可以做的更好。于是加上了一点自己的创意，css3, 还有流行的parallax。当然美工差那么一点，完全是百度来的图，然后自己抠的。因为主角来自《向左走向右走》，所以决定这个项目的名称用作者几米的英文名。
      hr.margin-top-10.margin-bottom-10
      a.default(href="/project/jimmy/index.html", target="_blank") Demo 
     div.project-item
      h4 Bao博客引擎（alpha）
      hr.margin-top-10.margin-bottom-10
      p 现在你看到的这个博客就是用这个Bao引擎做的。这算我对node.js + mongo结合探索的产物。我喜欢干净，在页面上你看不到最新的文章推荐，最新评论，云标签等各种噪音，所需要的只是关注眼前的文章。专注，思考吧。但是还有许多功能要添加，暂且算一个alpha版本吧。
      hr.margin-top-10.margin-bottom-10
      a.default(href="/") 你看到的就已经是啦
     div.project-item
      h4 HTML5 长微博工具
      hr.margin-top-10.margin-bottom-10
      p 这是一个ckeditor和html2canvas的合体，严格来说我只起了一点撮合的作用，个人觉得这个长微博会比那些个长微博工具强大很多，当然前提是你的浏览器支持HTML5
      hr.margin-top-10.margin-bottom-10
      a.default(href="/project/longweibo/index.html", target="_blank") Demo 
      a.default.margin-left-10(href="https://github.com/hh54188/longweibo", target="_blank") @github
     div.project-item
      h4 PPT Wall
      hr.margin-top-10.margin-bottom-10
      p
      | 一个受到 
      a.default(href="http://lab.hakim.se/reveal-js/#/", target="_blank") reveal.js
      | 和
      a.default(href="http://bartaz.github.com/impress.js/#/bored", target="_blank") reveal.js
      | 启发所做出来的东西，两边的一些想法都借鉴了.在没有使用过keynote之前，已经对泛滥而没有水准的ppt厌恶了，以上两个形式的ppt触动了我的神经——何不合二为一?By the way,Chrome only
      hr.margin-top-10.margin-bottom-10
      a.default(href="/project/pptwall/index.html", target="_blank") Demo 
      a.default.margin-left-10(href="https://github.com/hh54188/slider-demo", target="_blank") @github   
    div.span4
     include component/panel
    div.span1
