doctype 5
html
 head
  title 小玩意
  include component/head
 body
  div.container
   include component/logo
   div.row
    div.span1
    div.span6
     div.project-item
      h4 豆瓣租房小工具
      hr.margin-top-10.margin-bottom-10
      p 豆瓣小组是个天使，因为它有很多真实的信息！豆瓣小组是个小组是个魔鬼，因为它的用户体验和功能很差!
      hr.margin-top-10.margin-bottom-10    
      a.default(href="http://houseinbeijing.herokuapp.com/", target="_blank") Python + mongoDB
     div.project-item
      h4 Jimmy
      hr.margin-top-10.margin-bottom-10
      p HTML5粒子效果 + Parallax
      hr.margin-top-10.margin-bottom-10
      a.default(href="/project/jimmy/index.html", target="_blank") Demo 
     div.project-item
      h4 我的博客引擎
      hr.margin-top-10.margin-bottom-10
      p 这是我对node.js + mongo的实践。我个人喜欢整洁的页面，所以你在我的博客上你看不到最新的文章推荐，最新评论，云标签等各种噪音，所需要的只是关注眼前的文章。
      hr.margin-top-10.margin-bottom-10
     div.project-item
      h4 HTML5 长微博工具
      hr.margin-top-10.margin-bottom-10
      p ckeditor和html2canvas的结合，使用canvas在前端将文字转化为图片
      hr.margin-top-10.margin-bottom-10
      a.default(href="/project/longweibo/index.html", target="_blank") Demo 
      a.default.margin-left-10(href="https://github.com/hh54188/longweibo", target="_blank") @github
     div.project-item
      h4 PPT Wall
      hr.margin-top-10.margin-bottom-10
      p
      | 结合了
      a.default(href="http://lab.hakim.se/reveal-js/#/", target="_blank") reveal.js
      | 和
      a.default(href="http://bartaz.github.com/impress.js/#/bored", target="_blank") reveal.js
      | 优势的PPT尝试，Chrome only
      hr.margin-top-10.margin-bottom-10
      a.default(href="/project/pptwall/index.html", target="_blank") Demo 
      a.default.margin-left-10(href="https://github.com/hh54188/slider-demo", target="_blank") @github   
    div.span4
     include component/panel
    div.span1
